<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orhava.trivia2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.play.billingclient.version" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID." />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/new_icon_flag"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_icon_flag"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trivia2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LeaderBoard"
            android:exported="false" />
        <activity
            android:name=".ResultsMultiPlayer"
            android:exported="false" />
        <activity
            android:name=".MultiPlayer"
            android:exported="false" />
        <activity
            android:name=".Ads"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignIn"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyPremiumAvatars"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Avatar_Name"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Results"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu_Game"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/game_services_project_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8096185122491583~9313039466" />

        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>